.homepage header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
  padding: 3rem 18rem 3rem 22rem;
}

.homepage header .headerSectionLeftPart,
.homepage header .headerSectionRightPart{
  width: 37rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.homepage header .headerSectionLeftPart p,
.homepage header .headerSectionRightPart p{
  margin: 20px 0;
  padding: 0 20px;
}

