.projectsDisplayCarousel {
  height: 400px;
  background-color: #f2f2f2;
  margin-bottom: 5rem;
  position: relative;
}

.linksSection {
  height: 100%;
  width: 100%;
  padding: 0 300px 0 380px;
}

.upperSection{
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.upperSection::after{
  content: "";
  position: absolute;
  top: 18%;
  left: 19.7%;
  width: 62%;
  height: 2px;
  background-color: #999;
}

.upperSection .upperSectionBtns{
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: #999;
}

.upperSection .upperSectionBtns.selected{
  color: #fff;
  background-color: #0f172a;
}

.upperSection button:hover{
  cursor: pointer;
}

.linksSection .lowerSection {
  height: 295px;
  display: grid;
  /* grid-auto-columns: minmax(270px, auto); */
  grid-auto-flow: column;
  gap: 57px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 19rem 5rem 0;
}

.linksSection .lowerSection a {
  width: 250px;
  height: auto;
  background-color: #fff;
  text-decoration: none;
}

.linksSection .lowerSection a div{
  height: auto;
}

.linksSection .lowerSection a:hover div > div span:first-child{
  color: #edac15;
}

.linksSection .lowerSection div img {
  width: 100%;
  height: auto;
  aspect-ratio: 10/8;
}

.linksSection .lowerSection div > div{
  display: flex;
  flex-direction: column;
}

.linksSection .lowerSection a div > div span:first-child{
  padding: 13px 0 0 10px;
  line-height: 0.5;
  color: #000;
  font-size: 15px;
  transition: 0.3s;
}

.linksSection .lowerSection div > div span:last-child{
  padding: 2px 0 5px 10px;
  color: #999;
  font-size: 16px;
}

@media (max-width: 480px){
  .linksSection{
    padding: 0;
  }

  .upperSection{
    width: 375px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-left: 2.2rem;
  }

  .upperSection::after{
    left: 5.7%;
    width: 88%;
  }

  .linksSection .lowerSection a:first-child {
    margin-left: 2rem;
  }
}

@media (max-width: 375px){
  .upperSection{
    margin-left: 2px;
    justify-content: flex-start;
    gap: 1rem;
  }

  .upperSection .upperSectionBtns{
    padding: 10px 5px;
  }
}

@media (max-width: 768px){
  .linksSection{
    padding: 0;
  }

  .upperSection{
    width: 375px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-left: 1.2rem;
  }

  .upperSection::after{
    left: 1.7%;
    width: 96%;
  }

  .linksSection .lowerSection a:first-child {
    margin-left: 2rem;
  }
}