.navigationArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 95px;
  background-color: #0f172a;
  padding: 0 8rem 0 8rem;
}

.navigationArea .logoContainer {
  width: 13rem;
  height: 90px;
}

.navigationArea .logoContainer img {
  width: 100%;
  height: 100%;
}

.navigationArea .navigationLinksContainer {
  list-style: none;
  width: 42.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
}

.navigationArea .navigationLinksContainer a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.navigationArea .navigationLinksContainer a.active{
  background-color: #172554;
}

.navigationArea .navigationLinksContainer a:hover {
  background-color: #172554;
}

.navigationArea .hamburgerMenu {
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.25rem;
  height: 1.2rem;
  cursor: pointer;
}

.navigationArea .hamburgerMenu span {
  position: absolute;
  left: 0;
  right: 0;
  transform: rotate(0);
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 0.2rem;
  transition: all 0.5s;
}




/* ****************styling according to screen sizes************************ */

@media (max-width: 480px) and (min-width: 320px){
  .navigationArea{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  
  /* hamburger menunun clickable olmasi niye donna divinin olmagindan asilidir arasdir, cunki useeffectd' yazdigin funksiya islesin deye */
  /* .navigationArea .donna{
    width: 100%;
  } */

  .navigationArea .logoContainer{
    width: 9rem;
    height: auto;
    margin: 16px 0 0 10px;
  }

  .navigationArea .hamburgerMenu {
    opacity: 1;
  }

  /* sora bax buna */
  /* .navigationArea .hamburgerMenu.activated{
    height: 2rem;
  } */

  .navigationArea .navigationLinksContainer {
    width: 187px;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    opacity: 0;
    background-color: #172554e8;
    position: fixed;
    top: 95.4px;
    right: 0;
    z-index: -1;
    transition: 0.5s;
  }

  .navigationArea .navigationLinksContainer.open{
    opacity: 1;
    z-index: 2;
  }

  .navigationArea .navigationLinksContainer a{
    display: inline-block;
    padding: 10px;
    width: 100%;
  }

  .navigationArea .hamburgerMenu span:first-child{
    top: 1.2em;
  }
  .navigationArea .hamburgerMenu span:nth-child(2){
    top: 0.5em;
  }
  .navigationArea .hamburgerMenu span:last-child{
    bottom: 1.2em;
  }
  
  .navigationArea .hamburgerMenu span.lineMiddleSpin{
    transform: rotate(45deg);
    top: 15px;
  }
  
  .navigationArea .hamburgerMenu span.lineTopSpin{
    transform: rotate(-45deg);
    top: 15px;
  }
  
  .navigationArea .hamburgerMenu span.lineBottomSpin{
    opacity: 0;
  }
  
}

@media (max-width: 1024px) and (min-width: 481px){
  .navigationArea{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  
  /* hamburger menunun clickable olmasi niye donna divinin olmagindan asilidir arasdir, cunki useeffectd' yazdigin funksiya islesin deye */
  /* .navigationArea .donna{
    width: 100%;
  } */

  .navigationArea .logoContainer{
    width: 11rem;
    height: auto;
    margin: 6px 0 0 10px;
  }

  .navigationArea .hamburgerMenu {
    opacity: 1;
  }

  /* sora bax buna */
  /* .navigationArea .hamburgerMenu.activated{
    height: 2rem;
  } */

  .navigationArea .navigationLinksContainer {
    width: 187px;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    opacity: 0;
    background-color: #172554e8;
    position: fixed;
    top: 95.4px;
    right: 0;
    z-index: -1;
    transition: 0.5s;
  }

  .navigationArea .navigationLinksContainer.open{
    opacity: 1;
    z-index: 2;
  }

  .navigationArea .navigationLinksContainer a{
    display: inline-block;
    padding: 10px;
    width: 100%;
  }

  .navigationArea .hamburgerMenu span:first-child{
    top: 1.2em;
  }
  .navigationArea .hamburgerMenu span:nth-child(2){
    top: 0.5em;
  }
  .navigationArea .hamburgerMenu span:last-child{
    bottom: 1.2em;
  }
  
  .navigationArea .hamburgerMenu span.lineMiddleSpin{
    transform: rotate(45deg);
    top: 15px;
  }
  
  .navigationArea .hamburgerMenu span.lineTopSpin{
    transform: rotate(-45deg);
    top: 15px;
  }
  
  .navigationArea .hamburgerMenu span.lineBottomSpin{
    opacity: 0;
  }
  
}

@media (min-width: 1025px) and (max-width: 1440px){
  .navigationArea .hamburgerMenu {
    display: none;
  }

  .navigationArea {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 7rem;
  }
  
}