.sectionDesigns {
  min-height: 100vh;
  background-color: #f2f2f2;
  padding-bottom: 5rem;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionDesigns_title {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 50%;
  padding: 40px;
  background-image: url("./designsPageBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border: 1px solid #0000000e;
  border-top: none;
}

.sectionDesigns_title h1 {
  font-family: "Dancing Script", cursive;
}

.sectionDesigns_title span {
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  font-weight: 500;
}

.upperLinksSection {
  width: 928px;
  display: flex;
  justify-content: flex-start;
  padding: 20px 10px;
  margin-bottom: 2rem;
  border-bottom: 2px solid #999;
}

.upperLinksSection .upperSectionBtns {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: #999;
}

.upperLinksSection .upperSectionBtns.selected {
  color: #fff;
  background-color: #0f172a;
}

.upperLinksSection button:hover {
  cursor: pointer;
}

.lowerDesignsSection {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-auto-rows: auto;
  justify-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  width: 52%;
}

.lowerDesignsSection a {
  display: flex;
  width: 250px;
  height: auto;
  background-color: #fff;
  text-decoration: none;
}

.lowerDesignsSection a div {
  height: auto;
}

.lowerDesignsSection a:hover div > div span:first-child {
  color: #edac15;
}

.lowerDesignsSection div img {
  width: 100%;
  height: auto;
  aspect-ratio: 10/8;
}

.lowerDesignsSection div > div {
  display: flex;
  flex-direction: column;
}

.lowerDesignsSection a div > div span:first-child {
  padding: 13px 0 0 10px;
  line-height: 0.5;
  color: #000;
  font-size: 15px;
  transition: 0.3s;
}

.lowerDesignsSection div > div span:last-child {
  padding: 2px 0 5px 10px;
  color: #999;
  font-size: 14px;
}
