.sectionFooter {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 70px 0;
  background-color: #f2f2f2;
}

.sectionFooter div:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 80px 230px;
}

.sectionFooter div:nth-child(1) img{
  mix-blend-mode: darken;
}

.sectionFooter div:nth-child(1) p{
  font-size: 12px;
  width: 27rem;
  padding-left: 111px;
  margin-top: 15px;
}

.sectionFooter div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
}

.sectionFooter div:nth-child(2) h3{
  margin-bottom: 23px;
}
.sectionFooter div:nth-child(2) div a{
  text-decoration: none;
  font-size: 14px;
  color: #000;
  position: relative;
}

.sectionFooter div:nth-child(2) div a::after{
  content: '';
  width: 0;
  height: 2px;
  background-color: #0f172a;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.sectionFooter div:nth-child(2) div a:hover::after{
  width: 100%;
}

.sectionFooter div:nth-child(2) a:not(:last-child){
  margin-bottom: 5px;
}

.sectionFooter div:nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 96px;
}

.sectionFooter div:nth-child(3) h3{
  margin-bottom: 30px;
}

.sectionFooter div:nth-child(3) div span{
  font-size: 14px;
}

.sectionFooter div:nth-child(3) div span svg{
  fill: #0f172a;
}

.sectionFooter div:nth-child(3) div span:nth-child(1){
  margin-top: -8px;
  margin-bottom: 5px;
}

.sectionFooter div:nth-child(3) div span:nth-child(3){
  margin-top: 6px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.sectionFooter div:nth-child(3) div span:nth-child(4){
  display: flex;
  align-items: center;
}

@media (max-width: 710px) and (min-width: 320px){
  .sectionFooter {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .sectionFooter div:nth-child(1){
    padding: 0;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    margin: 2rem auto;
  }

  .sectionFooter div:nth-child(1) p{
    display: none;
    /* font-size: 12px;
    width: 25rem;
    padding-left: 0px;
    margin-top: 15px; */
  }

  .sectionFooter > div:nth-child(2){
    flex-wrap: nowrap;
    margin: 0 auto;
  }
  .sectionFooter > div:nth-child(2) div{
    align-content: flex-start;
  }

  .sectionFooter div:nth-child(3){
    line-break: anywhere;
    width: 11rem;
    margin: 2rem auto;
    padding-left: 0;
  }

  .sectionFooter div:nth-child(3) div span:nth-child(3){
    margin-top: 0;
  }

  .sectionFooter > div:nth-child(3) div span:not(:last-child){
    margin-bottom: 1rem;
  }
}

@media (max-width: 1024px) and (min-width:711px){
  .sectionFooter {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }

  .sectionFooter div:nth-child(1){
    grid-row-start: 2;
    padding: 0 0 70px 0;
    margin-top: 1rem;
  }

  .sectionFooter div:nth-child(3),
  .sectionFooter div:nth-child(2){
    grid-row-start: 1;
    justify-content: center;
  }

  .sectionFooter div:nth-child(2){
    align-content: center;
  }

  .sectionFooter div:nth-child(2) h3{
    margin-bottom: 20px;
    margin-top: 22px;
  }

  .sectionFooter div:nth-child(3){
    padding-left: 0;
    margin-left: -2rem;
  }
}

@media (max-width: 1440px) and (min-width:1025px){
  .sectionFooter {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 70px 0;
    background-color: #f2f2f2;
  }

  .sectionFooter div:nth-child(1){
    padding: 0;
    width: 18rem;
    padding-left: 50px;
  }

  .sectionFooter div:nth-child(3){
    
    padding-left: 3px;
  }

  .sectionFooter div:nth-child(2){
    align-content: center;
  }
}