@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Dancing+Script:wght@400;500&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}


::selection{
  background-color: #0F172A;
  color: #fff;
}