.sectionNews{
  height: 110px;
  display: flex;
  background-image: url("./newsSectionBg.jpg");
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5rem;
}

.sectionNews a{
  width: 65%;
  display: flex;
  align-items: center;
  margin: 0 0 0 380px;
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 600;
}

.sectionNews a svg{
  margin-top: 3px;
  transition: 0.3s;
}

.sectionNews a:hover svg{
  transform: translateX(1rem);
}

@media (max-width: 480px) and (min-width: 320px){
  .sectionNews{
    width: 100%;
    justify-content: center;
    background-position: right;
  }

  .sectionNews a{
    width: 100%;
    margin: 0;
    padding-left: 3rem;
  }
}


@media (max-width: 768px) and (min-width: 481px){
  .sectionNews{
    width: 100%;
    justify-content: center;
    background-position: right;
  }

  .sectionNews a{
    margin: 0;
  }
}

@media (max-width: 1024px) and (min-width: 769px){
  .sectionNews{
    width: 100%;
    justify-content: center;
    background-position: right;
  }

  .sectionNews a{
    margin: 0;
  }
}

@media (max-width: 1440px) and (min-width: 1025px){
  .sectionNews{
    width: 100%;
    justify-content: center;
    background-position: right;
  }

  .sectionNews a{
    margin: 0;
  }
}